:root {
  --primary-color: #0A84FF;
  --text-color: #333;
  --secondary-color: #666;
  --background-color: #fff;

  font-size: 16px;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  line-height: 1.4;

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 620px;
  margin: 0 auto;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0;
}

h1 {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 1.125rem;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 1rem 2rem;
}

section, header, footer {
  padding: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.contact-links {
  margin-bottom: 1rem;
}

.contact-links li {
  display: inline-block;
  margin-right: .5rem;
}

.copyright {
  font-size: 0.75rem;
}

.intro {
  color: var(--highlight-color);
  font-style: italic;
}

.profile-picture {
  border-radius: 9999px;
}

.subtitle span {
  display: block;
  font-size: 0.875rem;
  color: var(--secondary-color);
}
